{% extends "base.html" %} {% block title %}Changed{% endblock %}

{% block content %}
<div>
    <h1>
        <table>
            <tr>
                <th>Songs</th>
                <th>    
                    <form method="post" action="/">
                        <input type="Add Recomendations to Spotify"/>
                    </form>
                </th>
            </tr>
        {% for songs in songList %}
                <tr>
                    <td>{{songs}}</td>
                </tr>
            {% endfor %}
        </table>
    </h1>
</div>
{% endblock %}
